{%extends 'base.html'%}
{%block title%}BMR{%endblock title%}
{%block body%}
<form method = "POST" class="form-inline">{% csrf_token %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-20 px-5">
<h1>BMR Caluclator</h1>
<div class="form-floating">
      <input type="text" class="form-control"  name="age" id="floatingInput" placeholder="20">
      <label for="floatingInput"><font color="#000000">Entre your age between 15 - 80</font></label>
    </div>
    <br>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref"><h4>Gender</h4></label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="gender">
      <option selected>Choose...</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control"  name="height" id="floatingInput" placeholder="180cm">
      <label for="floatingInput"><font color="#000000">Entre your Height in cm</font></label>
    </div>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control"  name="weight" id="floatingInput" placeholder="60kg">
      <label for="floatingInput"><font color="#000000">Entre your Weight in kg</font></label>
    </div>
    <br>
    </div>
    </div>
    <button type="submit" class="btn btn-primary my-1" name = "bmr Caluclator">BMR</button>
  </form>
{%endblock body%}