{%extends 'base.html'%}
{%block title%}Balenced Diet{%endblock title%}
{%block body%}
<div class="px-1 pt-2 my-1 text-center border-bottom">
    <h1 class="display-6 fw-bold">Balenced Diet</h1>
</div>
<p><h5>A balanced diet includes foods from five groups and fulfills all of a person’s nutritional needs. Eating a balanced diet helps 
people maintain good health and reduce their risk of disease.A balanced diet is one that fulfills all of a person’s nutritional needs. 
Humans need a certain amount of calories and nutrients to stay healthy.In addition, a balanced diet ought to offer bioactive phytochemicals 
like dietary fiber, antioxidants and nutraceuticals that have positive health advantages. A balanced diet should offer around 60-70% of 
total calories from carbohydrates, 10-12% from proteins and 20-25% of total calories from fat.</h5></p>
<div class="text-center border-bottom">
<h3><b>What is a balanced diet?</b><h3>
</div>
<p><h5>A balanced diet gives your body the nutrients it needs to function correctly. Healthy eating increases energy, improves the way your
 body functions, strengthens your immune system and prevents weight gain.To get the nutrition you need, most of your daily calories should come from: </h5></p>
<ul>
  <li><h5>Fresh Fruits<h5></li>
  <li><h5>Fresh Vegetables<h5></li>
  <li><h5>Whole Grains<h5></li>
  <li><h5>Legumes<h5></li>
  <li><h5>Nuts<h5></li>
  <li><h5>Lean Proteins<h5></li>
</ul>
<div class="text-center border-bottom">
<h3><b>About calories</b><h3>
</div>
<p><h5>The number of calories in a food refers to the amount of energy stored in that food. Your body uses calories from food for walking, thinking, breathing, and other important functions.
The average person needs about 2,000 calories every day to maintain their weight, but the amount will depend on their age, sex, and physical activity level.
Males tend to need more calories than females, and people who exercise need more calories than people who don’t.The source of your daily calories are also important. Foods that provide mainly calories and very little nutrition are known as “empty calories.”
Examples of foods that provide empty calories include:</h5></p>
<ul>
  <li><h5>cakes, cookies, and donuts<h5></li>
  <li><h5>processed meats<h5></li>
  <li><h5>energy drinks and sodas<h5></li>
  <li><h5>fruit drinks with added sugar<h5></li>
  <li><h5>ice cream<h5></li>
  <li><h5>chips and fries<h5></li>
  <li><h5>pizza<h5></li>
  <li><h5>sodas<h5></li>
</ul>
<p><h5>To maintain good health, limit your consumption of empty calories and instead try to get your calories from foods that are rich in other nutrients.</h5></p>
<div class="text-center border-bottom">
<h3><b>Summary</b><h3>
</div>
<p><h5>Eating a balanced diet means eating foods from the five major groups.
Dietary guidelines change over time, as scientists discover new information about nutrition. Current recommendations suggest that a person’s plate should contain primarily vegetables and fruits, some lean protein, some dairy, and soluble fiber.
People interested in weight loss should also consider introducing moderate exercise into their routines.</h5></p>
<hr>
{%endblock body%}